body{
    background-color: #2E6CC3;
}

.topbar{
    margin-top: 2%;
}

.logo{
    max-width: 15%;
    max-height: 7.5%;
    cursor: pointer;
    float:left;
}

.homebody{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    max-height: 40%;
}

button{
    font-family: 'Source Code Pro', monospace;
    color: white;
    background-color: transparent;
    border:none;
    padding: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
    outline: none;
    float: right;
}
button:hover{
    cursor:pointer; 
    color: #d3d3d3;
}
 
.dropdown{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 7%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 12%;
}

.projDrop{
    left: 80%;
}
.aboutDrop{
    left: 70%;
}

.dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover{
    background-color: #ddd
}

.show{
    display: block;
}

.fa-caret-up{
    transform: rotate(180deg);
}

.intro{
    margin-top: 10%;
}

.brace{
    max-width: 85%;
    max-height: 10%;
}

.introtext{
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.topbrace{
    float: right;
    margin-left: 100%;
    margin-bottom: 2.5%;
    margin-right: -0.5%;
}

.bottombrace{
    float: left;
    margin-right:100%;
    margin-top: -2.5%;
    margin-left: -0.5%;
}

.websiteComp{
    margin-top: 10%;
}

.wsch{
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 30px;
    text-align: center;
}

.wscFirst{
    float: center;
    margin: 0 auto;
    padding-bottom: 2%;
    margin-top: 5%;
    max-width: 32%;
    border: 1px solid white;
    background-color: white;
}

.wscSecond{
    float: left;
    max-width: 22%;
    margin-top: 10%;
    margin-left: 5%;
    padding-bottom: 2%;
    border: 1px solid white;
    background-color: white;
}

.wscThird{
    float: right;
    max-width: 19%;
    margin-top: 10%;
    margin-right: 7%;
    padding-bottom: 2%;
    border: 1px solid white;
    background-color: white;
}


.wscpic1{
    max-width: 100%;
}

.wscpic2{
    max-width: 100%;
}

.wscpic3{
    max-width: 100%;
}
