body{
    background-color: #2E6CC3;
}

.logo{
    max-width: 10%;
    max-height: 5%;
    cursor: pointer;
}

.homebody{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    max-height: 40%;
}
