body{
    background-color: #2E6CC3;
}

.topbar{
    margin-top: 2%;
}

.logo{
    max-width: 15%;
    max-height: 7.5%;
    cursor: pointer;
    float:left;
}

.homebody{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    max-height: 40%;
}

button{
    font-family: 'Source Code Pro', monospace;
    color: white;
    background-color: transparent;
    border:none;
    padding: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
    outline: none;
    float: right;
}
button:hover{
    cursor:pointer; 
    color: #d3d3d3;
}

.fa-caret-up{
    transform: rotate(180deg);
}
