
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');


.bkgdGrad{
  z-index: -99;
  position: fixed;
  background-image: linear-gradient(to bottom, rgb(32,33,40), black);
  width: 100%;
  height:100%;
}

.introBox{
  position: relative;
  clip-path: polygon(52% 0, 60% 20%, 100% 20%, 100% 100%, 60% 100%, 52% 80%, 0 80%, 0 0);
  background-image: linear-gradient(to right, #0082c8, #2A6AC6);
  height: 30vw;
}

.newsletter{
  float: right;
  margin-top: -3%;
  margin-right: 7%;
  width: 30%;
  color: white;
}

input[type=text]{
  color: white;
  width: 100%;
  margin-bottom: 8px;
  margin-left: 4%;
  padding-right: 5%;
  border: hidden;
  background: transparent;
}

.textentry{
  width: 100%;
  margin-top: -4%;
  margin-bottom: 8px;
  padding-right: 5%;
}

.submit{
  color: white;
  background-color: transparent;
  border: 0.5px solid white;
  font-size: 20px;
  margin-left: 0;
  margin-bottom: 4%;
}

input[type=text]{
  width: 83%;
  outline: none;
}

.mmImg1{
  width: 25vw;
  border-radius: 50%;
}

.mmImg2{
  width: 25vw;
  border-radius: 50%;
}

.mmImg3{
  width: 25vw;
  border-radius: 50%;
}

.card-text {
  z-index: 99;
  position: absolute;
  left: 1%;
  bottom: -35%;
  letter-spacing: 4px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.flipContainer{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -15%;
  clip-path:
    polygon(
      0% 100px,                 /* top left */
      100px 0%,                 /* top left */
      calc(100% - 100px) 0%,    /* top right */
      100% 100px,               /* top right */
      100% calc(100% - 100px),  /* bottom right */
      calc(100% - 100px) 100%,  /* bottom right */
      100px 100%,               /* bottom left */
      0 calc(100% - 100px)      /* bottom left */
    );
}

.flipRow{
  padding-bottom: 5%;
  padding-top: 5%;

}

.flipCard {
  width: 18vw;
  height: 18vw;
  border-radius: 0%;
  border-style: solid;
  border-color: #33BFFF;
  border-width: 0px;
  overflow: hidden;
}

.flipImage {
  width: 18vw;
}

.flipName{
  text-align: center;
  padding-top: 15%;
}

.flipPosition{
  text-align: center;
  font-family: "Source Code Pro, monospace";
  color: grey;
}

.footerBox{
  clip-path: polygon(50% 32%, 62% 12%, 100% 12%, 100% 100%, 0 100%, 0 32%);
  background-image: linear-gradient(to right, #1CB5E0, #2A6AC6);
}

.footerIcons{
}

.subscribeBox{
  position: absolute;
  top: 15%;
  margin-left: 65%;
  margin-right: 5%;
  font-size: 1.1vw;

}

.subscribeBoxWho{
  position: relative;
}

.webBanner{
  position: relative;
  top: 10%;
  width: 100%;
  height: 100vh;
  clip-path: polygon(59% 0, 72% 23%, 100% 23%, 100% 77%, 71% 77%, 56% 54%, 0 53%, 0 0);
  background-image: linear-gradient(to bottom, white, #a8bbd9);
}
