.newsletter{
  float: right;
  margin-top: -3%;
  margin-right: 7%;
  width: 30%;
  color: white;
  font-family: 'Source Code Pro', monospace;
  color: white;
}

input[type=text]{
  font-family: 'Source Code Pro', monospace;
  color: white;
  width: 100%;
  margin-bottom: 8px;
  margin-left: 4%;
  padding-right: 5%;
  border: hidden;
  background: transparent;
}

.textentry{
  width: 100%;
  margin-top: -4%;
  margin-bottom: 8px;
  padding-right: 5%;
}

.submit{
  font-family: 'Source Code Pro', monospace;
  color: white;
  background-color: transparent;
  border: 0.5px solid white;
  font-size: 20px;
  margin-left: 0;
  margin-bottom: 4%;
}

input[type=text]{
  width: 83%;
  outline: none;
}

.mmImg1{
  margin-top: 1%;
  width: 250px;
  float: left;
  border-radius: 50%;
  margin-right: 10%;
}

.mmImg2{
  margin-top: 5%;
  width: 250px;
  float: right;
  border-radius: 50%;
  margin-right: 4%;
}

.mmImg3{
  margin-top: 10%;
  width: 250px;
  float: left;
  border-radius: 50%;
  margin-left: 5%;
}

.card-text {
  z-index: 99;
  position: absolute;
  left: 1%;
  bottom: -35%;
  letter-spacing: 4px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
